.navigationWrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #222;
    /* box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25); */
    color: white;
    text-transform: uppercase;
    overflow: hidden;
    width: 100%; 
    }
   .logoWrapper {
      display: flex; 
     }
   .stylish {
        font-weight: bold;
      }
       .logo {
        padding-left: 4px;
        color: #ea4f4c;
       }


        .li {
          opacity: 1;
          list-style-type: none;
          color: white;
          text-decoration: none;
          transition: all 0.3s ease-in-out;
        }
       .navigation {
        display: flex;
        list-style-type: none;
    
    
       
      }
      
      .parent {
        padding: 0 10px;
        cursor: pointer;
  
       
      }
  
    .link {
            position: relative;
            display: flex;
            align-items: center;
            text-decoration: none;
            transition: all 0.3s ease-in-out;
            color: white;
    
            
    
           
          }
    .link:hover {
              color: #ea4f4c;
            }
    .li a {
            font-size: 17px;
            padding: 0 5px;
          }
    .link {
        font-size: 12px;
    
      }
    
    .active.parent {
      transform: translate(-40px, -25px);
      
      
    }
    
   .subnavigation {
        display: flex;
      }